<a href="https://colab.research.google.com/github/PRSOUBHAGYA/CampusX_Bootcamp/blob/main/session_16_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

###`Q-1:` Write a program to create an empty series.

In [5]:
# code here
s = pd.Series()
s

<ipython-input-5-d87534d244b5>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

Series([], dtype: float64)

###`Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [9]:
# code here
a = pd.Series([1,2,3])
b = pd.Series([1,2,3])

print(a+b)
print(a-b)
print(a*b)
print(a/b)

0    2
1    4
2    6
dtype: int64
0    0
1    0
2    0
dtype: int64
0    1
1    4
2    9
dtype: int64
0    1.0
1    1.0
2    1.0
dtype: float64

###`Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [11]:
# code here
a = pd.Series([2, 4, 6, 8, 10])
b = pd.Series([1, 3, 5, 7, 10])

a==b

0    False
1    False
2    False
3    False
4     True
dtype: bool

###`Q-5.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [25]:
# code here
series = pd.Series([1,2,'Python', 2.0, True, 100])
a = pd.Series([1,2,3,'A'])
pd.to_numeric(series,errors='coerce')

0      1.0
1      2.0
2      NaN
3      2.0
4      1.0
5    100.0
dtype: float64

Download data - https://drive.google.com/file/d/1LRhXwbEodeWXtzPhJCX0X9Lf_BECzvqb/view?usp=share_link
All Batsman runs series in IPL 2008 to 2022.

Below questions are based on this data.

###`Q-6` Find top 10 most run getter from the series.

In [36]:
# code here
series = pd.read_csv('/content/batsman_runs_series.csv')
series.columns
series.sort_values(by='batsman_run',ascending=False)

             batter  batsman_run
569         V Kohli         6634
462        S Dhawan         6244
130       DA Warner         5883
430       RG Sharma         5881
493        SK Raina         5536
..              ...          ...
102         C Nanda            0
65       Akash Deep            0
467         S Ladda            0
570  V Pratap Singh            0
468    S Lamichhane            0

[605 rows x 2 columns]

###`Q-7` No of players having runs above 3000

In [35]:
# code here
series[series['batsman_run']>3000]['batter']

27     AB de Villiers
46          AM Rahane
60          AT Rayudu
108          CH Gayle
130         DA Warner
169      F du Plessis
174         G Gambhir
251        KA Pollard
256        KD Karthik
263          KL Rahul
328         MK Pandey
339          MS Dhoni
430         RG Sharma
452        RV Uthappa
462          S Dhawan
493          SK Raina
511         SR Watson
519         SV Samson
569           V Kohli
597         YK Pathan
Name: batter, dtype: object

In [37]:
series[series['batter']=='YK Pathan']

        batter  batsman_run
597  YK Pathan         3222

###`Q-8` No of players having runs above mean value?

In [40]:
# code here
series[series['batsman_run'] > series['batsman_run'].mean()].shape[0]

128

Download data - https://drive.google.com/file/d/1QZuZ5bypUInfVvarHACLAi8tXXHvb8xd/view?usp=share_link

file name - items.csv

###`Q-9` 
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [82]:
# code here
df=pd.read_csv('/content/items.csv')
df = df.set_index('item_name')
df.isnull().sum().values[0]
df['item_price'] = df['item_price'].str.split('$').str.get(1).astype(float)
df['item_price'] = df['item_price'].fillna(df['item_price'].mean())
def convertUSDtoINR(value):
  return value*85.5

df['item_price'] = df['item_price'].apply(convertUSDtoINR)
df.head()

                                       item_price
item_name
Chips and Fresh Tomato Salsa              204.345
Izze                                      289.845
Nantucket Nectar                          289.845
Chips and Tomatillo-Green Chili Salsa     204.345
Chicken Bowl                             1451.790

###`Q-10`: 
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

In [85]:
# code here
df['item_price'].mean()
df[(df['item_price'] >= 1000) & (df['item_price']<= 2000)]

               item_price
item_name
Chicken Bowl     1451.790
Steak Burrito    1004.625
Barbacoa Bowl    1004.625
Steak Burrito    1004.625
Barbacoa Bowl    1004.625
...                   ...
Barbacoa Bowl    1004.625
Steak Burrito    1004.625
Steak Burrito    1004.625
Steak Burrito    1004.625
Steak Burrito    1004.625

[419 rows x 1 columns]