<a href="https://colab.research.google.com/github/PRSOUBHAGYA/CampusX_Bootcamp/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [4]:
# Write your code here
print("Data","Science","Mentorship", "Program" ,
"By" ,"CampusX",sep='-')
print("Data",end='-')
print("Science",end='-')
print("Mentorship",end='-')
print("Program",end='-')
print("By",end='-')
print("CampusX")

Data-Science-Mentorship-Program-By-CampusX
Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
# Write your code here
tempincel = int(input("Enter temperature in celcius:"))
tempinf = (tempincel*1.8)+32
print(tempinf)

Enter temperature in celcius:37
98.60000000000001

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [7]:
# Write your code here
firstnum = int(input("enter 1st num:"))
secondnum = int(input("enter 2nd num:"))
temp=firstnum
firstnum=secondnum
secondnum=temp
print("first and second are:",firstnum,secondnum)

enter 1st num:10000
enter 2nd num:1
first and second are: 1 10000

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [9]:
# Write your code here
x1 = int(input("Enter x1:"))
y1 = int(input("Enter y1:"))
x2 = int(input("Enter x2:"))
y2 = int(input("Enter y2:"))

result = ((x1-x2)**2 + (y1-y2)**2)**0.5
print(result)

Enter x1:0
Enter y1:0
Enter x2:5
Enter y2:5
7.0710678118654755

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [10]:
# Write your code here
p = float(input("enter principal amount:"))
r = float(input("enter interest rate:"))
t = float(input("enter loan time in years:"))

si = (p*t*r)/100

print(si)

enter principal amount:5000
enter interest rate:5
enter loan time in years:.04
10.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
# Write your code here

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [12]:
# Write your code here
n = int(input("Enter N value:"))
s=0
for i in range(1,n+1):
  s = s+(i**2)
print(s)

Enter N value:3
14

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [14]:
# Write your code here
a1 = int(input("First Number:"))
a2 = int(input("Second Number:"))
d = a2-a1
n = int(input("Enter N value:"))
nthvalue = a1+(n-1)*d
print(nthvalue)

First Number:1
Second Number:5
Enter N value:3
9

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [15]:
# Write your code here
n1 = int(input("Enter 1st numerator:"))
d1 = int(input("Enter 1st denominator:"))

n2 = int(input("Enter 2nd numerator:"))
d2 = int(input("Enter 2nd denominator:"))

result = (n1/d1)+(n2/d2)
print(result)

Enter 1st numerator:1
Enter 1st denominator:2
Enter 2nd numerator:4
Enter 2nd denominator:8
1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [16]:
# Write your code here
milkheight = int(input("Enter Height of Milktank:"))
milklength = int(input("Enter length of Milktank:"))
milkbredth = int(input("Enter Bredth of Milktank:"))

glassheight = int(input("Enter Height of glass:"))
glassradius = int(input("Enter radius of glass:"))

areamilktank = milkheight*milklength*milkbredth
areaglass = 2*(22/7)*glassheight + (22/7)*(glassradius**2)*glassheight

result = areamilktank/areaglass

Enter Height of Milktank:20
Enter length of Milktank:20
Enter Bredth of Milktank:20
Enter Height of glass:3
Enter radius of glass:1

In [17]:
result

282.82828282828285